<div class="fixed left-0 top-0 -z-10 h-full w-full">
  <div class={`
    absolute inset-0 -z-10 h-full w-full items-center px-5 py-24 
    bg-white bg-[radial-gradient(60%_120%_at_50%_50%,#FFFFFF_0,#C9F4FF_100%)]
    dark:[background:radial-gradient(125%_125%_at_50%_10%,#000_40%,#2596be_100%)]
    transition-all duration-300 ease-in-out
  `}>
  </div>
</div>