---
interface Props {
  url?: string;
}

const { url } = Astro.props;
---
<a
  href={url}
  target="_blank"
  class="inline-flex items-center px-4 py-2 mt-5 text-sm font-medium  bg-white/30 border border-white/10 rounded-full hover:bg-white/50 focus:z-10 focus:ring-4 focus:outline-none focus:ring-white/20 transition"
>
  <slot />
</a>
