<header class="flex justify-center items-center w-full xl:w-[1120px] mx-auto py-10">
  <nav class="flex flex-row gap-x-10 opacity-1">
    <a href="#home">Home</a>
    <a href="#about">About</a>
    <a href="#experience">Experience</a>
    <a href="#contact">Contact</a>
  </nav>
</header>