---
import SocialBadge from './SocialBadge.astro';
import TypeWriter from './TypeWriter.astro';
import GithubIcon from './icons/GithubIcon.astro';
import LinkedInIcon from './icons/LinkedInIcon.astro';
import MailIcon from './icons/MailIcon.astro';

const email = "alejandrodominguez1823@gmail.com";
---
<div {...Astro.props}>
  <h1 class="text-white text-4xl font-bold flex flex-row gap-x-4 pb-10 flex-wrap justify-center lg:justify-start">
    <TypeWriter> Hi, I'm Alex &nbsp;😎</TypeWriter>
  </h1>
  <h2 class="text-xl opacity-80 text-center text-pretty lg:text-start">
    <strong>+3 years of experience.</strong>
    <span class="text-yellow-200/90">Computer Science Engineer & Software Developer.</span>
    I'm from Guadalajara Jalisco, México.
    <span class="text-sky-200">Specialized on full stack development.</span>
    I'm deeply committed to problem-solving and implementing effective computational solutions.
  </h2>
  <ul class="flex gap-x-4 mt-5 text-white flex-wrap justify-center lg:justify-start">
    <SocialBadge href="https://github.com/AlexDominguez18">
      <GithubIcon class="w-6 h-6" />
      Github
    </SocialBadge>
    <SocialBadge href="https://www.linkedin.com/in/oscar-alejandro-dom%C3%ADnguez-duran/">
      <LinkedInIcon class="w-6 h-6" />
      LinkedIn
    </SocialBadge>
    <SocialBadge href={`mailto:${email}`}>
      <MailIcon class="w-6 h-6" />
      Contact me
    </SocialBadge>
  </ul>
</div>