---
import {
  LaravelIcon,
  ReactIcon,
  VueIcon,
  BootstrapIcon,
  PhpIcon,
  JavascriptIcon,
  DockerIcon,
  MysqlIcon,
  RedisIcon,
  LivewireIcon,
} from './icons/';

const tags = {
  laravel: {
    color: 'bg-red-500 dark:bg-red-50',
    text: 'Laravel',
    class: 'text-red-100 dark:text-red-900',
    icon: LaravelIcon,
  },
  reactjs: {
    color: 'bg-sky-600 dark:bg-blue-50',
    text: 'ReactJS',
    class: 'text-sky-100 dark:text-blue-500',
    icon: ReactIcon,
  },
  vuejs: {
    color: 'bg-green-400 dark:bg-green-50',
    text: 'VueJS',
    class: 'text-green-100 dark:text-green-900',
    icon: VueIcon,
  },
  bootstrap: {
    color: 'bg-purple-800 dark:bg-purple-50',
    text: 'Bootstrap',
    class: 'text-purple-100 dark:text-purple-600',
    icon: BootstrapIcon,
  },
  php: {
    color: 'bg-indigo-600 dark:bg-indigo-100',
    text: 'PHP',
    class: 'text-indigo-100 dark:text-indigo-600',
    icon: PhpIcon,
  },
  javascript: {
    color: 'bg-yellow-400/90 dark:bg-yellow-50',
    text: 'JavaScript',
    class: 'text-yellow-50 dark:text-yellow-800',
    icon: JavascriptIcon,
  },
  docker: {
    color: 'bg-cyan-500 dark:bg-cyan-200',
    text: 'Docker',
    class: 'text-cyan-100 dark:text-cyan-800',
    icon: DockerIcon,
  },
  mysql: {
    color: 'bg-sky-900 dark:bg-sky-100',
    text: 'MySQL',
    class: 'text-sky-100 dark:text-sky-800',
    icon: MysqlIcon,
  },
  redis: {
    color: 'bg-red-900/80 dark:bg-red-200',
    text: 'Redis',
    class: 'text-red-100 dark:text-red-800',
    icon: RedisIcon,
  },
  livewire: {
    color: 'bg-pink-800 dark:bg-pink-200',
    text: 'Livewire',
    class: 'text-pink-100 dark:text-pink-800',
    icon: LivewireIcon,
  },
};

interface Props {
  tagName: string;
}

const { tagName } = Astro.props;
const tag = tags[tagName];
---

<span class={`flex items-center px-4 py-1 rounded-lg text-sm ${tag.color} ${tag.class} hover:scale-125 transition`}>
  <tag.icon class="size-4" />
  <span class="ps-1">{tag.text}</span>
</span>